.card {
    background-color: rgba(169, 10, 242, 0.329);
    display: inline-block;
    justify-content: center;
    border-radius: 4%;
    padding: 50px;
}

.card:hover {
    transform: rotate(365deg);
    box-shadow: 10px 20px 30px 5px;
}

.h2 {
    font-family: cursive;
    font-size: 30px;
    display: block;
}

.data {
    font-family: cursive;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.button {
    border-radius: 3px;
    display: inline-block;
    background-color: crimson;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.button:hover {
    background: rgba(1, 1, 1,.5);
    color: aliceblue;
}

.img {
    border-radius: 5px;
    width: 95%
}